<!DOCTYPE html>
<html>
  <head>
    <link href="/public/css/style.css" defer>
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to the homepage!</h1>
    {{#each posts}}
      <div>
        <h2>{{this.name}}</h2>
        <p>{{this.content}}</p>
        <p>Posted at: {{this.time_commented}}</p>
      </div>
    {{/each}}
    <p>This is a test paragraph.</p> 
</html>